.jumboP{
  color: green;
  text-align: left;
}

.jumboH1{
  color: green;
  text-align: left;
}

.cellH1 {
  text-align: center;
  color: whitesmoke;
}

.cellP {
  text-align: center;
  color: whitesmoke;
}

.cItem {
  width: 100%;
  height: 750px;
}
